:root {
  --primary: #fff;
  --secondary: #8fc0e3;
  --tertiary: #4b7a5b;
  --fourth: #707173;

  --primary-dark: #181818;
  --secondary-dark: #242424;
}


body.dark {
  background-color: var(--secondary-dark);
  transition: background-color 0.4s ease-out;
}
body.dark header,
body.dark .low_footer {
  background-color: var(--primary-dark);
}

body.dark header {
  border-bottom: 4px solid var(--tertiary);
}

body.dark .item_price,
body.dark .social,
body.dark p,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4 {
  color: var(--primary);
}


body.dark .col {
  border-color: var(--primary);
}

body.dark .social li img{
  filter: brightness(0) invert(42%) sepia(34%) saturate(447%) hue-rotate(88deg) contrast(84%);
} 

body.dark .social li img:hover {
  filter: brightness(0) invert(100%) sepia(100%) saturate(0%) hue-rotate(320deg) contrast(101%);
}

/* cart styles */
body.dark .cart-total strong,
body.dark .cart-total span,
body.dark .cart-row span,
body.dark .shop-item-price{
  color: var(--primary);
}

body.dark .low_footer  h1{
  color:var(--tertiary);
}

body.dark .low_footer a:hover{
  text-decoration-color: var(--tertiary);
}

/* FAQ */
body.dark .log-btnFAQ {
  border: 1px solid var(--tertiary);
}

body.dark .col {
  background-color: var(--tertiary);
}

body.dark .col:hover {
  background-color: var(--secondary);
}

body.dark .left,
body.dark .right{
  filter: brightness(0) invert(79%) sepia(10%) saturate(1197%) hue-rotate(166deg)  contrast(93%);
}


/* dashboards */
body.dark .sidebar{
  background-color: var(--tertiary);
}

body.dark .sidebar a.active {
    background-color: var(--secondary);
  }

body.dark .OrderTable tr:nth-child(even){background-color: var(--fourth)}
body.dark .OrderTable tr:nth-child(odd){background-color: var(--secondary-dark)}


body.dark .OrderTable{
  border: 1px solid var(--primary);
}

body.dark td ,
body.dark .OrderTable tr.table_header th{
  border-color: var(--secondary-dark);
  color:var(--primary);
}

body.dark .settingsCol{
  border-color: var(--primary);
}

body.dark .col-50 h3 {
  color:black;
}

/* knowledge base */
body.dark .loader{
  border: 16px solid var(--tertiary);
  border-top: 16px solid var(--secondary);
}


body.dark .log-btn{
  background-color: var(--tertiary);
}

body.dark .log-btn:hover {
  background-color: var(--secondary);
}

body.dark #search_field:focus {
  color: var(--tertiary);
}

body.dark .popup{
  background-color: var(--secondary-dark);
}

body.dark .table .title{
  background-color: var(--tertiary);
  transition: 0.3s ease-out;
}

body.dark .article_row a {
  color:var(--primary);
}

body.dark .article_row:nth-child(even) {
  background-color: var(--primary-dark);
}

body.dark .article_row:hover,
body.dark .article_row:hover a{
  background-color: var(--secondary);
}

body.dark .content {
  color:var(--primary);
}

body.dark .close{
  background-color: var(--tertiary);
}

body.dark .close:hover{
  background-color: var(--secondary);
}

