@import url("/css/static.css");

.container {
  padding-top: 100px;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 10px;
  border-style: groove;
  border-color: var(--fourth);
  background-color: var(--suppliment);
  max-width: 100px;
  max-height: 100px;
}

.my-button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 3rem;
}

.text-field-container.clicked {
  display: none;
}

.text-field-container {
  position: relative;
}

.text-field {
  display: inline-block;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #bfcedf;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 3rem;
}

.loading-animation {
  position: absolute;
  top: 50%;
  right: 4rem;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top-color: #333;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.my-button.clicked {
  display: none;
}

.my-button:hover {
  background-color: #0056b3;
}

.info-container {
  display: none;
}
.sidebar {
  margin: 0;
  padding: 0;
  margin-top: 31px;
  width: 200px;
  background-color: var(--secondary);
  position: fixed;
  height: 100%;
  overflow: auto;
  /* box-shadow: 2px 10px 8px var(--fourth); */
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-family: var(--soft);
  font-size: 18px;

  transition: all 0.2s ease-in;
}

.sidebar a.active {
  background-color: var(--tertiary);
  color: var(--primary);
}

.sidebar a:hover:not(.active) {
  background-color: var(--fourth);
  color: var(--primary);
}

div.interface-container {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.DrugFo {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: var(--soft);
  color: var(--fourth);
}

p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  text-align: left;
}

.row {
  margin-top: 5%;
  color: var(--fourth);
  justify-content: space-between;
}

/* ! upload tab */
.up-title {
  color: var(--fourth);
}

.col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  flex-direction: column;
  border-style: double;
}

h3 {
  text-align: start;
  font-weight: 600;
  margin: 10px 0;
  font-size: 16px;
  font-family: var(--strong);
}
h2 {
  text-align: left;
  font-size: 18px;
  font-family: var(--strong);
  margin-bottom: 5px;
}
h4 {
  text-align: left;
  margin-left: 30px;
}
p {
  text-align: left;
  margin-left: 50px;
  font-family: var(--soft);
}
.col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1100px) {
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    font-size: 20px;
  }

  nav .fa {
    display: block;
    color: var(--primary);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

.OrderTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--fourth);
  font-family: var(--soft);
}

.OrderTable th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid var(--primary);
  color: var(--fourth);
}

.OrderTable tr.table_header th {
  background-color: var(--secondary);
  font-family: var(--strong);
  color: var(--primary);
}

/* .OrderTable tr.second th {
  background-color: var(--secondary);
} */

.OrderTable tr:nth-child(even) {
  background-color: var(--suppliment);
}

.UserTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--fourth);
  font-family: var(--soft);
}

.UserTable th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid var(--primary);
  color: var(--fourth);
}

.UserTable tr.table_header th {
  background-color: var(--tertiary);
  font-family: var(--strong);
  color: var(--primary);
}

.UserTable tr.second th {
  background-color: var(--secondary);
}

.UserTable tr:nth-child(odd) {
  background-color: #9fbde0;
}
.UserTable tr:nth-child(even) {
  background-color: var(--soft);
}

.paymentRow {
  margin-top: 30px;
}

.paymentRow .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.paymentRow .col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.paymentRow .col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.paymentRow .col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.paymentRow .col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.paymentRow .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid var(--fourth);
  border-radius: 3px;
}

.paymentRow input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--fourth);
  border-radius: 3px;
}
.paymentRow input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--fourth);
  border-radius: 3px;
}

.paymentRow input[type="number"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid var(--fourth);
  border-radius: 3px;
  margin: 0;
}

.paymentRow label {
  margin-bottom: 10px;
  display: block;
}

.paymentRow .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.paymentRow .btn {
  background-color: var(--tertiary);
  color: var(--primary);
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-family: var(--soft);
  transition: all 0.5s ease-out;
}

.paymentRow .btn:hover {
  background-color: var(--secondary);
}

.paymentRow span.price {
  float: right;
  color: grey;
}

.settingsCol {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  flex-direction: column;
  border-style: double;
}

.settingsCol h3 {
  align-self: center;
}

.log-btn {
  padding: 6px;
  min-width: 100px;
  margin-top: 10px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
}

.dl-btn {
  padding: 5px;
  min-width: 100px;
  margin-top: 10px;
  margin-right: 16px;
  justify-content: center;
  font-size: 25px;
  border-radius: 10px;
  text-decoration: none;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0px;
  background-color: var(--fourth);
  border: 2px solid transparent;
  color: var(--primary);
  transition: all 0.3s ease-in;
  opacity: 0.5;
}
.dl-btn:hover {
  background: var(--tertiary);
  opacity: 1;
}


.dl-btn-deny {
  padding: 6px;
  min-width: 100px;
  margin-top: 10px;
  margin-right: 16px;
  justify-content: center;
  font-size: 25px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
}
.dl-btn-deny:hover {
  background: var(--warning);
}
.settingRow .add {
  background-color: var(--tertiary);
  border: var(--tertiary);
  text-align: center;
  color: var(--primary);
  font-family: var(--soft);
  transition: 0.5s ease-out;
}
.settingRow .add:hover {
  border: var(--secondary);
  background: var(--secondary);
}

.settingRow .delete {
  background-color: var(--secondary);
  border: var(--secondary);
  text-align: center;
  color: var(--primary);
  font-family: var(--soft);
  transition: 0.5s ease-out;
}

.settingRow .delete:hover {
  border: var(--warning);
  background: var(--warning);
}
.settingRow {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-self: right;
  margin-left: auto;
  margin-right: 40px;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--suppliment);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--secondary);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1700px) {
  .sidebar {
    margin-top: -2px;
  }
}

/* USER LIST TABLE */
.user-list tbody td > img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.user-list tbody td .user-link {
  display: block;
  font-size: 1.25em;
  padding-top: 3px;
  margin-left: 60px;
}

.user-list tbody td .user-subhead {
  font-size: 0.875em;
  font-style: italic;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  margin-top: 200px;
  background: var(--primary);
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: var(--fourth);
  padding-bottom: 10px;
  font-family: var(--strong);
}
.popup .close {
  transition: all 200ms;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--secondary);
  color: var(--primary);
  font-size: 25px;
  text-decoration: none;
  border: var(--primary);
  cursor: pointer;
  font-family: var(--soft);
  transition: 0.5s ease-out;
  border-radius: 6px;
}
.popup .close:hover {
  background-color: var(--tertiary);
}
.popup .content {
  padding-bottom: 25px;
  max-height: 30%;
  overflow: auto;
  color: var(--fourth);
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.popup .xButton {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background: var(--secondary);
  color: var(--primary);
}

input[type="file"] {
  margin-top: 15px;
  width: 350px;
  max-width: 100%;
  color: var(--fourth);
  padding: 5px;
  background: var(--primary);
  border-radius: 10px;
  border: 1px solid var(--fourth);
  font-family: var(--soft);
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--secondary);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--primary);
  cursor: pointer;
  font-family: var(--soft);
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: var(--tertiary);
}
