@import url("../css/homepage-nav.css");

*{
    margin: 0;
    padding: 0; 
    outline: 0;   
}


html{ 
    scroll-behavior: smooth;
}

.container {
  padding-top: 100px;
}

.profile-pic{
    border-radius: 50%;
    margin-bottom: 10px;
    border-style:groove;
    border-color: var(--fourth);
    background-color: var(--suppliment);
}

.info-container{
    display: none;
}
.sidebar {
    margin: 0;
    padding: 0;
    margin-top: 31px;
    width: 200px;
    background-color: var(--secondary);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: var(--soft);
    font-size: 18px;
    
    transition:all  0.2s ease-in;
  }
  
  .sidebar a.active {
    background-color: var(--tertiary);
    color: var(--primary);
  }
  
  .sidebar a:hover:not(.active) {
    background-color: var(--fourth);
    color: var(--primary);
  }
  
  div.interface-container {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .DrugFo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

h1{
    font-size: 36px;
    font-weight: 600;
    font-family: var(--soft);
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;

}

.row{
    margin-top: 5%;
    justify-content: space-between;

}

.col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    flex-direction: column;
    border-style: double;
}

h3{
    text-align: start;
    font-weight: 600;
    margin: 10px 0;
    font-size: 16px;
    font-family: var(--strong);
}
h2{
    text-align: left;
    font-size: 18px;
    font-family: var(--strong);
    margin-bottom: 5px
}
h4{
    text-align: left;
    margin-left: 30px;
}
p{
    text-align: left;
    margin-left: 50px;
    font-family: var(--soft);
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:1100px){
    .text-box h1{
        font-size:40px;

    }
    .text-box p{
        font-size:20px;

    }
   

    nav .fa{

        display: block;
        color:var(--primary);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }


  
}





.OrderTable{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--fourth);
    font-family: var(--soft); 
}

.OrderTable th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid var(--primary);
    color: var(--fourth);
}
  


.OrderTable tr.table_header th {
  background-color: var(--tertiary);
  font-family: var(--strong);
  color: var(--primary);
}

.OrderTable tr.second th {
  background-color: var(--secondary);
}


.OrderTable tr:nth-child(even){background-color: var(--suppliment)}


.paymentRow{
    margin-top: 30px;
}


.paymentRow .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .paymentRow .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .paymentRow .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .paymentRow .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .paymentRow .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .paymentRow .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid var(--fourth);
    border-radius: 3px;
  }
  
  .paymentRow input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid var(--fourth);
    border-radius: 3px;
  }
  
  .paymentRow label {
    margin-bottom: 10px;
    display: block;
  }
  
  .paymentRow .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .paymentRow .btn {
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    font-family: var(--soft);
    transition:  all 0.5s ease-out;
  }
  
  .paymentRow .btn:hover {
    background-color: var(--secondary);
  }
  
  .paymentRow span.price {
    float: right;
    color: grey;
  }
  
  .settingsCol{
        flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    flex-direction: column;
    border-style: double;

  }

  .settingsCol h3{
    align-self: center;
  }
  
  .log-btn{
    padding: 6px;
    min-width: 100px;
    margin-top: 10px;
    margin-right: 16px;
    display:flex;
    justify-content:center;
    font-size: 25px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: auto;
    text-align: center; 
    vertical-align: middle;
    cursor: pointer;

}

.log-btn{
  text-align: center;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  font-family: var(--soft);
  transition: 0.5s ease-out;
}
.log-btn:hover{
    border: 1px solid var(--tertiary);
    background: var(--tertiary);
}

.delete:hover{
  border: 1px solid red;
    background: red;
}
.settingRow{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.switch {
  position: relative;
  display:flex;
  justify-content:flex-end;
  align-self: right;
  margin-left: auto;
  margin-right: 40px;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secondary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 1700px) {
  .sidebar {
    margin-top: -2px;
  }
}