@import url("/css/homepage-nav.css");

*{
    margin: 0;
    padding: 0;
    outline: 0;
}


html{
    scroll-behavior: smooth;
}

.imagecontainer {
    padding-top: 100px;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: 40px;
}

.imagecontainer img {
    height: 500px;
}

.delivery-info {
    width: 800px;
    margin-top: -475px;
    padding-left: 60px;
   /* background-color: bisque;*/

}

.delivery-info h1{
font-size: 50px;
}

.delivery-info p{
    font-size: 30px;
    }

.driver-info{
    padding-left: 1100px;
    padding-top: 125px;
    /*background-color: aqua;*/
    width: -200px;
    }
   

.need-help p{
    padding-left: 1100px;
}

.current-order {
    width: 400px;
    margin-top: -15px;
    padding-left: 60px;
}

.shopitem1{
    /*background-color:aqua;*/
    margin-top: 20px;
    }

    .shopitem1 p{
        padding-left: 40px;
    }

    .shopitem2 p{
        padding-left: 40px;
    }

    .shopitem3 p{
       margin-left: 1210px;
       margin-top:-13px;
    }

.shopitem2{
width: 275px;
margin-left: 550px; 
margin-top: -210px;
}

.shopitem3 img{
    height: 250px;
    width: 180px;
    margin-left: 1200px; 
    margin-top: -300px;
    }

.shopitem3{
    margin-top: -30px;
}

.order-total{
    margin-top: 5%;
    margin-left: 2%;
}




