@import url("/css/static.css");

.imagecontainer {
    padding-top: 100px;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: 40px;
}

.imagecontainer img {
    height: 500px;
}

.delivery-info {
    width: 800px;
    margin-top: -475px;
    padding-left: 60px;
   /* background-color: bisque;*/

}

.delivery-info h1{
font-size: 50px;
}

.delivery-info p{
    font-size: 30px;
    }

.driver-info{
    padding-left: 1100px;
    padding-top: 180px;
    /*background-color: aqua;*/
    width: -200px;
    }
   

.need-help p{
    padding-left: 1100px;
}

.current-order {
    width: 400px;
    margin-top: -2px;
    margin-left: 50px;
}

.order-total{
    margin-top: 2%;
    margin-left: 72%;
}

.payment-info{
    margin-top: 2%;
    margin-left: 72%; 
}

.bill-to{
    margin-top: 2%;
    margin-left: 72%; 
}

.prev-orders{
    margin-top: -50px;
    margin-left: 50px;
}

.shopitem1{
    /*background-color:aqua;*/
    margin-top: -340px;
    }

    .shopitem1 p{
        padding-left: 10px;
    }

    .shopitem2 p{
        padding-left: 0px;
    }

    .shopitem3 p{
       margin-left: 10px;
       margin-top: 0px;
    }

    .shopitem3 p1{
        margin-left: 10px;
        margin-top:300px;
     }

   

.shopitem2{
width: 275px;
margin-left: 400px; 
margin-top: -210px;
}

.shopitem3 img{
    height: 250px;
    width: 180px;
    margin-left: 20px; 
    margin-top: -5000px;
    }

.shopitem3{
    margin-top: 300px;
}



