@import url("/css/static.css");

body {
  margin-left: auto;
  margin-right: auto;
  font-family: var(--strong);
}

.main {
  display: flex;
  justify-content: flex-start;
  background-color: var(--secondary);
  padding-top: 150px;
  height: 100%;
  padding-bottom: 40px;
}

.left_main {
  padding-left: 40px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  color: var(--primary);
}

.left_main h1 {
  font-size: 120px;
  line-height: 1;
  text-align: left;
}

.left_main h2 {
  margin-top: 10px;
  font-family: var(--soft);
  word-spacing: 5px;
}

.right_main {
  padding-right: 50px;
  /* width: 40%; */
}

.left_main input[type="text"] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 6px;
  height: 50px;
  width: 450px;
  font-size: 30px;
  color: var(--tertiary);
}

.left_main .search_box {
  padding-left: 40px;
}
.search {
  margin-top: 32.5px;
  margin-bottom: 10px;
  height: 44px;
  width: 44px;
  border: none;
  transform: translate(-48px);
  border-radius: 6px;
  background-color: var(--tertiary);
}

.search_icon {
  color: var(--primary);
  margin-top: 2px;
}

.search::placeholder {
  width: 30px;
}

.warning {
  font-family: var(--strong);
}

.astrick {
  color: var(--warning);
  margin-right: 3px;
}

.main_body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
}

.main_body_title {
  text-align: center;
  color: var(--fourth);
  margin-bottom: 30px;
  font-size: 70px;
}

.table_for_items {
  text-align: center; 
}

.table_for_items ul div {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: 300px;
}

/* invisible frames */
#box-container-2, 
#box-container-3,
#box-container-4,
#box-container-5 {
  display: none;
  /* position: absolute; */
}

#box-container-2 .item_list,
#box-container-3 .item_list,
#box-container-4 .item_list,
#box-container-5 .item_list{
  opacity: 0;
}

.table_for_items .item_list {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding: 20px;
  overflow: visible;
  cursor: pointer;
  transition: transform 0.5s ease-out, opacity 0.6s ease-out;
}

.table_for_items .item img {
  background-color: var(--primary-dark);
  border: 4.5px solid var(--secondary);
  border-radius: 10px;
  width: 200px;
  height: 200px;
  align-items: center;
}

.table_for_items .item_list:hover {
  /* background-color: var(--suppliment); */
  /* margin-bottom: 20px; */
  border-radius: 10px;
  transition: border-color 0.5s ease-out, transform 0.5s ease-out;
  transform: translateY(-5px);
}

.table_for_items .item_list:hover img {
  border: 4.5px solid var(--tertiary);
  transition: border-color 0.5s ease-out;
}

.table_for_items .item_list:hover .item_name {
  transition: color 0.5s ease-out;
  color: var(--tertiary);
}

.table_for_items .item_name {
  margin-top: 10px;
  text-align: left;
  max-width: 200px;
  /* min-height: 10px; */
  /* overflow: visible; */
  overflow-wrap: break-word;
  color: var(--secondary);
  font-family: var(--soft);
  font-weight: 600;
  font-size: 20px;
}

.table_for_items .item_price {
  margin-top: 0px;
  text-align: left;
  color: var(--fourth);
  text-align: left;
  font-size: 18px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow .arrow_img svg{
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0px 5px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: var(--tertiary);
  color: var(--primary);
}

.arrow .arrow_img svg:hover {
  background-color: var(--secondary);
  transition: background-color 0.5s ease-out;
}

/* seperate direciton for arrows */
.arrow .leftHome svg:hover{
  transform: translateX(-5px);
  transition: transform 0.5s ease-out;
}

.arrow .rightHome svg:hover{
  transform: translateX(5px);
  transition: transform 0.5s ease-out;
}

.service_grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.service_grid .main_box {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  margin-left: 15px;
  margin-right: 15px;
  padding: 1%;
  height: 100%;
  width: 30%;
  border-radius: 10px;
}
.service_grid .left_side {
  margin-right: 20px;
  color: var(--primary);
  text-align: left;
  font-family: var(--soft);
  font-size: 20px;
  font-weight: 550;
}

.service_grid .right_side {
  text-align: center;
  justify-content: center;
}

.service_grid img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.service_grid button {
  display: block;
  margin-top: 14px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.service_grid button {
  padding: 9px 25px;
  background-color: var(--tertiary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
}

.service_grid button:hover {
  transform: translateY(-5px);
}

.lower_main_body {
  margin-top: 100px;
  padding: 0;
}

.lower_main_body_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  padding: 20px 40px;
}

.lower_main_body .main_body_title {
  margin-top: 40px;
}

.table_plans {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  justify-content: center;
  text-align: center;
  transition: all 0.5s ease-out;
}

.table_plans .plan_name {
  display: inline-block;
  background-color: var(--primary);
  padding-top: 5px;
  width: fit-content;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--secondary);
  letter-spacing: 1.5px;
  cursor: pointer;
}

.table_plans span {
  margin-right: 10px;
  font-family: var(--soft);
  font-weight: 650;
}

.table_plans img {
  display: inline;
  height: 25px;
  width: 25px;
  margin-bottom: -5px;
  filter: brightness(0) invert(76%) sepia(32%) saturate(613%) hue-rotate(177deg)
    contrast(88%);
  margin-left: 10px;
}

.table_plans .plan_name:hover {
  background-color: var(--tertiary);
  color: var(--primary);
  transform: translateY(-2px);
  transition: background-color 0.5s ease-out 0s, transform 0.5s ease-in-out 0s;
}

.table_plans .plan_name:hover img {
  filter: invert(1);
}

.lower_main_body .second .item_list:hover {
  border-color: var(--tertiary);
  transition: 0.5s ease-out;
}

.second ul {
  width: 1300px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
  gap: 10px;
}

.second .item img {
  border-color: var(--fourth);
}

/* .second .item_list:hover {
  background-color: var(--secorondary);
  transition: 0.5s ease-out;
} */


.second .item_name{
  text-align: left;
  max-width: 200px;
  overflow-wrap: break-word;
  color: var(--primary);
  font-family: var(--soft);
  font-weight: 600;
  font-size: 20px;
}

.second .item_price_prt {
  text-align: center;
  color: var(--fourth);
  font-size: 25px;
}

.visit_button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 4px;
  transition: all 0.5s ease-out 0s;
}

.visit_button:hover {
  background-color: var(--tertiary);
  color: var(--primary);
}

.visit_button h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.review_box {
  background-color: var(--secondary);
  height: 100%;
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 3;
  display: flex;
}

.review_box .review_left_box {
  float: left;
  height: 240px;
  width: 240px;
  padding: 0;
  margin: 0;
}

.review_box img {
  height: 240px;
  width: 240px;
}

.review_box .review_right_box {
  width: 500px;
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: var(--soft);
  font-weight: 600;
  font-size: 20px;
  color: var(--primary);
}

.review_box .review_right_box .quotation {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 100%;
}

.review_box .review_right_box .author {
  font-size: 15px;
  margin-top: 15px;
}

.under_review_box {
  height: 300px;
  width: 52%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  z-index: 1;
  background-color: var(--tertiary);
  z-index: 1;
  margin-top: -150px;
  text-align: center;
  padding-top: 120px;
  font-size: 80px;
  color: var(--primary);
}

.under_review_box .inside {
  opacity: 1;
}

.under_review_box .outer {
  opacity: 0.5;
}
