@import url("/css/static.css");

/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    margin: 0;
} */

h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: #0072c6;
}

p {
    font-size: 18px;
    margin: 0 0 20px;
}

.body-container {
    padding-top: 2rem;
}

.container {
    margin-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* margin-top: 500px; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.sub-title{
    background-color: #73bef4;
    color: white;
    height: 15px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
    text-overflow: clip;align-items: center;
    justify-content: center;
}

/* CSS styles */
.prescription-dropdown {
position: relative;
width: 200px;
align-items: center;
    justify-content: center;
}

.prescription-dropdown.v {
position: relative;
width: 200px;
align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.prescription-dropdown select {
width: 100%;
padding: 10px;
border: none;
outline: none;
background-color: #d5cece;
color: #333;
font-size: 16px;
cursor: pointer;
border-radius: 50px;
appearance: none; /* Remove default arrow in some browsers */
align-items: center;
    justify-content: center;
}

.prescription-dropdown select::-ms-expand {
display: none; /* Remove default arrow in IE10+ */
}

.prescription-dropdown::after {
content: '\25BC'; /* Use ▼ as the custom arrow */
position: absolute;
top: 75%;
right: 10px;
transform: translateY(-50%);
font-size: 18px;
color: #7e7979;
pointer-events: none; /* Prevents click events on the arrow */
}

.display {
margin-top: 1rem;
width: 50%;
padding: 10px;
border: none;
outline: 2px solid #007bff; /* Replace with your desired color */
border-radius: 20px;
word-wrap: break-word;
}