@import url("/css/static.css");

body{
    background-image: url('../images/medicine_wallpaper.jpg');
    
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
}

.link{
  margin-left: 2rem;
  color:#0072c6;
  cursor: pointer;
  text-decoration: underline;
}

.link.clicked{
  margin-left: 2rem;
  color:#720cb6;
  cursor: pointer;
  text-decoration: underline;
}

.linkd{
  margin-left: 2rem;
  color:#0072c6;
  cursor: pointer;
  text-decoration: underline;
}

.linkd.clicked{
  margin-left: 2rem;
  color:#720cb6;
  cursor: pointer;
  text-decoration: underline;
}

.generate-boxone{
  display:none;
}

.error-boxone{
  display:none;
}

.error-boxtwo{
  display: none;
}

.error-boxthree{
  display: none;
}

.error-box{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 90%;
  max-width: 1000px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 5px solid var(--tertiary);
  border-radius: 50px;
  background-color: var(--primary);
  opacity: 0.96;
}

.greeting{
  margin-bottom: 1rem;
}

.outro{
  margin-top: 1rem;
}

.message{
  font-family: var(--soft);
}

.message span{
  color:#0072c6;
  cursor: pointer;
  text-decoration: underline;
}

.error-box .message .edit-right .drug-item{
  margin-top: 0.5rem;
  font-style: italic;
  cursor: pointer;
  color: black;
  transition: 0.1s ease-in-out;
}
.error-box .message .edit-right .drug-item:hover{
  margin-top: 0.5rem;
  font-style: italic;
  cursor: pointer;
  color: #e12222;
  transition: 0.1s ease-in-out;
}

.error-box .submit{
  background-color: var(--tertiary);
    color: var(--primary);
    border-radius: 15px;
    padding: 12.5px;
    font-size: 20px;
    height: 45px;
    border: none;
    width: 100%;
    
    font-family: var(--soft);
    cursor: pointer;
    transition: 0.5s ease-out;
  }

.error-box .logo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.error-box img {
  height: 150px;
}

.error-box .title-next {
  color: var(--fourth);
  height: 60px;
  width: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: var(--soft);
  border-radius: 50px;
  text-overflow: clip;
}

.error-box .back-button-p {
  margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    width: 50%;
    cursor: pointer;
  }

  .error-box .back-button-d {
    margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      justify-content: center;
      text-align: center;
      width: 50%;
      cursor: pointer;
    }

.error-box .back-button-b{
  margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      justify-content: center;
      text-align: center;
      width: 50%;
      cursor: pointer;
}

.generate-box{
  color: var(--tertiary);
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
  cursor: pointer;
  margin-left:37%;
  margin-right: 37%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary);
  opacity: 0.96;
  border-radius: 50px;
  border: 3px solid var(--tertiary);
}

.main-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 90%;
  max-width: 1000px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 5px solid var(--tertiary);
  border-radius: 50px;
  background-color: var(--primary);
  opacity: 0.96;
}

.main-box .logo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.main-box img {
  height: 150px;
}

.main-box .title-next {
  
  color: var(--fourth);
  height: 60px;
  width: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: var(--soft);
  border-radius: 50px;
  text-overflow: clip;
}

.main-box .title-next-next {
  font-size: 16px;
  color: var(--warning);
  margin-top: 30px;
  transition: 0.3s ease-in-out;
}

.main-box .title-next-next-doctor {
  font-size: 16px;
  color: var(--warning);
  margin-top: 30px;
  transition: 0.3s ease-in-out;
}


.main-box .title-next-next.next{
  color: var(--primary);
  transition: 0.3s ease-in-out;
}

.main-box .title-next-next-doctor.next{
  color: var(--primary);
  transition: 0.3s ease-in-out;
}

.main-box .title {
  background-color: var(--secondary);
  color: var(--primary);
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: var(--soft);
  border-radius: 50px;
  text-overflow: clip;

}


.main-box .form-outline .form-box {
  display: flex;
  flex-direction: row;
}

.main-box .form-box {
  color: var(--primary);
  font-family: var(--strong);
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.main-box .form-box .left-side {
  margin-right: 2px;
  width: 100%;
  text-align: left;
}

.main-box .form-box .left-side label:hover,
.main-box .form-box .right-side label:hover {
  background-color: var(--secondary);
  transition: 0.5s ease-in-out;
}

.main-box .form-box .left-side input:hover,
.main-box .form-box .right-side input:hover {
  border-color: var(--secondary);
  transition: 0.5s ease-in-out;
}

.main-box .form-box .right-side {
  margin-left: 2px;
  width: 100%;
  text-align: left;
}

.error-box .edit-right {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: left;
}

.main-boxone{
  display: none;
}

.main-boxtwo{
  display:none;
}

.main-box .form-box label {
  background-color: var(--tertiary);
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}


.main-box .form-box input {
  border: 3px solid var(--tertiary);
  color: var(--tertiary);
  border-radius: 15px;
  margin-top: 20px;
  padding: 15px;
  font-size: 17px;
  height: 45px;
  width: 40%;
}

.main-box .form-box .Age {
    width: 150px;
}

.main-box .submit-box1 {
margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  justify-content: center;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.main-box .submit-box2 {
  margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    width: 50%;
    cursor: pointer;
  }

.main-box .submit{
background-color: var(--tertiary);
  color: var(--primary);
  border-radius: 15px;
  padding: 12.5px;
  font-size: 20px;
  height: 45px;
  border: none;
  width: 100%;
  
  font-family: var(--soft);
  cursor: pointer;
  transition: 0.5s ease-out;
}


  .main-box .ack{
    
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 5px;
    background-color: var(--suppliment);
    outline-color: var(--fourth);
    outline-width: 5px;
      color: var(--primary-dark);
      border-radius: 15px;
      padding: 12.5px;
      font-size: 20px;
      height: 45px;
      border: none;
      width: 30%;
      
      font-family: var(--soft);
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }

  .main-box .acknowledgement-box span{
      font-size: 2rem;
      color: var(--warning);
      transition: 0.2s ease-in-out;
    }

  .main-box .acknowledgement-box.clicked span{
      font-size: 2rem;
      color: var(--tertiary);
      transition: 0.2s ease-in-out;
  }

  .main-box .acknowledgement-box-doctor span{
    font-size: 2rem;
    color: var(--warning);
    transition: 0.2s ease-in-out;
  }

.main-box .acknowledgement-box-doctor.clicked span{
    font-size: 2rem;
    color: var(--tertiary);
    transition: 0.2s ease-in-out;
}

.main-box .submit:hover{
    background-color: var(--secondary);
    transition: 0.5s ease-out;
}

.main-box .ack:hover{
  background-color: var(--secondary);
  transition: 0.5s ease-in-out;
}



.main-box .warning{
    font-weight: 200;
    color: var(--fourth);
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    font-family: var(--soft)
}

.main-box .warning span{
    color: var(--warning);
}

@media screen and (max-width: 1100px) {
  
  .main-box{
    width: 600px;
  }

  .main-box .title {
    font-size: 16px;
    padding: 14px;
    text-align: center;;
  }
  .main-box .form-box {
    flex-direction: column;
    font-size: 16px;
  }

  .main-box .form-box input{
    margin-top: 10px;
    height: 20px;
    width: 30%;
    font-size: 16px;
  }

  .main-box .form-box label {
    padding: 8px 14px;
  }

  .main-box .submit {
    height: 100%;
    padding: 10px 20px;
  }

  .main-box .ack {
    height: 100%;
    padding: 10px 20px;
  }

  .main-box .warning {
    font-size: 14px;
  }

}