* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  user-select: none;
}

:root {

  /* light mode colors */
  /* --primary: #fff; */
  --primary: #FAF9F6;
  /* --secondary: #8fc0e3; */
  --secondary: #a1d2f5;
  /* --tertiary: #4b7a5b; */
  --tertiary: #006A4E;
  --fourth: #707173;

  /* --suppliment: #e6e6e6; */
  --suppliment: #f3f3f3;
  /* color to show warning */
  --warning : red;
  
  /*  dark mode colors */
  /* --primary-dark: #181818; */
  --primary-dark: #1b2227;
  /* --secondary-dark: #313131; */
  --secondary-dark: #212a30;



  /* only fonts used */
  --soft: Verdana, Tahoma, sans-serif;
  --strong: 'Times New Roman',  serif;
}

html{ 
    scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
}