*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    
}
:root {
    --primary: #fff;
    --secondary: #8fc0e3;
    --tertiary: #4b7a5b;
    --fourth: #707173;
    }
html{
    scroll-behavior: smooth;
}

.imagecontainer {
    padding-top: 100px;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: 40px;
}

.imagecontainer img {
    height: 500px;
}

.delivery-info {
    width: 800px;
    margin-top: -500px;
    padding-left: 60px;

}