@media screen and (max-width: 1700px) {
  header,
  header a,
  header .moon,
  header .profile {
    height: 15px;
  }

  header {
    padding-top: 60px;
  }

  .dropdown-content a {
    font-size: 10px;
  }

  .nav_links li,
  .footer_links li {
    margin-left: -10px;
  }

  .logo {
    transform: translateY(-30px);
  }

  .logo_name {
    height: 25px;
  }

  .nav_links .dropdown-content a {
    font-size: 22px;
  }

  footer {
    font-size: 22px;
  }

  .white_transparent_box {
    margin-top: -70px;
  }

  .social .email {
    margin-right: 300px;
  }

  .table_for_items {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (max-width: 1280px) {
  header {
    padding-top: 40px;
  }

  header .profile {
    height: 5px;
  }

  .logo {
    height: 30px;
    width: 45px;
    margin-top: 0;
  }

  .logo_name {
    height: 12.5px;
    margin-top: -15px;
  }

  .nav_links .moon {
    height: 20px;
  }

  .nav_links {
    font-size: 15px;
  }

  .nav_links li .profile,
  .footer_links li .profile {
    height: 20px;
    width: 20px;
  }

  .cart {
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 10px;
  }

  footer {
    font-size: 15px;
  }

  .low_footer h1 {
    font-size: 15px;
  }

  .nav_links li {
    margin-left: -10px;
  }

  .footer_links li a {
    margin-left: -25px;
  }

  .white_transparent_box {
    margin-top: -70px;
  }

  .social .email {
    margin-right: 80px;
  }
  footer .logo_footer {
    height: 30px;
    width: 45px;
  }

  .white_transparent_box {
    width: 160px;
  }

  .email,
  .social_title {
    font-size: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    padding-top: 100px;
    height: 500px;
  }

  .left_main {
    width: 100%;
  }

  .right_main {
    width: 0%;
  }

  .left_main h1 {
    font-size: 50px;
  }

  .service_grid {
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .service_grid .right_side {
    width: 50%;
  }

  .service_grid .right_side img {
    height: 70px;
    width: 70px;
  }

  .service_grid .main_box {
    margin-top: 20px;
    height: 100%;
    padding: 10px;
  }

  .lower_main_body .table_plans {
    padding-left: 15%;
    padding-right: 15%;
  }

  .service_grid .main_box {
    width: 90%;
  }

  .review_left_box {
    height: 150px;
    width: 100px;
    margin-right: -50px;
  }

  .review_box {
    padding-left: -30px;
    padding-right: -30px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .under_review_box {
    margin-left: auto;
    margin-right: auto;
    width: 83%;
  }
  .review_box img {
    height: 100px;
    width: 100px;
  }

  .review_box .review_right_box {
    padding-right: 0px;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    margin-left: -20%;
  }

  .table_for_items {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: -0;
  }
}

@media screen and (max-width: 1112px) {
  .second {
    background-color: rgb(76, 18, 184);
  }

  .second .item_list {
    height: 180px;
    width: 180px;
    padding: 0;
  }
  
  .second img {
    height: 170px;
    width: 170px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1200px){
  body{
    background-color: rgb(243, 253, 147);
  }
}

@media screen and (max-width: 1100px){
  body{
    background-color: #fff;
  }
}

@media screen and (max-width: 1000px){
  body{
    background-color: rgb(255, 255, 255);
  }
}
