/* 
header 
footer
*/
@media screen and (max-width: 1700px) {
  header {
    height: 100px;
  }

  .logo {
    height: 66.6px;
    width: 100px;
    margin: 12px 10px 0 0;
  }

  .logo_name {
    height: 40px;
    margin-top: -5px;
  }

  header .nav_links li,
  footer .footer_links li {
    margin-left: 15px;
    margin-right: 0px;
    padding: 0;
  }

  header .nav_links .moon,
  header .nav_links .profile,
  footer .footer_links .profile {
    height: 22px;
    width: 22px;
  }

  header .nav_links li,
  footer .footer_links li {
    font-size: 22px;
  }

  header .nav_links .dropdown-content {
    margin-top: 1px;
    box-shadow: 0px;
  }

  header .nav_links .dropdown-content a {
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0px;
  }

  header .cart {
    font-size: 22px;
    padding: 1px 10px;
  }

  .low_footer h1 {
    font-size: 15px;
  }
}

@media screen and (max-width: 1130px) {
  .logo_name {
    height: 0px;
    margin-top: -7px;
  }
}

/* home page */
@media screen and (max-width: 1750px) {
  .main {
    padding-top: 140px;
  }

  .table_for_items {
    width: 800px;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
  }

  .table_for_items .item_list {
    margin-top: 20px;
  }

  .second {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 900px;
  }

  .second .item_list {
    height: 180px;
    width: 180px;
    padding: 0;
  }

  .second img {
    height: 170px;
    width: 170px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 925px) {
  .second {
    max-width: 600px;
  }
}
